In [43]:
import numpy as np
import pandas as pd

In [44]:
from google.colab import files
uploaded= files.upload()

Saving EDA_FAT.csv to EDA_FAT (1).csv

In [45]:
df=pd.read_csv('EDA_FAT.csv')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  252 non-null    int64
 1   Density     252 non-null    float64
 2   BodyFat     252 non-null    float64
 3   Age         252 non-null    int64
 4   Weight      252 non-null    float64
 5   Height      252 non-null    float64
 6   Neck        252 non-null    float64
 7   Chest       252 non-null    float64
 8   Abdomen     252 non-null    float64
 9   Hip         252 non-null    float64
 10  Thigh       252 non-null    float64
 11  Knee        252 non-null    float64
 12  Ankle       252 non-null    float64
 13  Biceps      252 non-null    float64
 14  Forearm     252 non-null    float64
 15  Wrist       252 non-null    float64
dtypes: float64(14), int64(2)
memory usage: 31.6 KB

In [47]:
df=df.drop(columns=["Unnamed: 0","Height", "Weight", "Density"],axis=1)

In [48]:
df.columns

Index(['BodyFat', 'Age', 'Neck', 'Chest', 'Abdomen', 'Hip', 'Thigh', 'Knee',
       'Ankle', 'Biceps', 'Forearm', 'Wrist'],
      dtype='object')

In [49]:
df.describe()

          BodyFat         Age        Neck  ...      Biceps     Forearm       Wrist
count  252.000000  252.000000  252.000000  ...  252.000000  252.000000  252.000000
mean    19.139038   44.884921   37.967808  ...   32.255605   28.663889   18.222222
std      8.330753   12.602040    2.301730  ...    2.958537    2.020691    0.911143
min      0.000000   22.000000   31.862500  ...   24.800000   21.000000   15.800000
25%     12.475000   35.750000   36.400000  ...   30.200000   27.300000   17.600000
50%     19.200000   43.000000   38.000000  ...   32.050000   28.700000   18.300000
75%     25.300000   54.000000   39.425000  ...   34.325000   30.000000   18.800000
max     44.537500   81.000000   43.962500  ...   40.512500   34.900000   20.600000

[8 rows x 12 columns]

In [50]:
X=df.loc[:,df.columns!="BodyFat"]
y=df.loc[:,df.columns=="BodyFat"]

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2, random_state= 14)

In [52]:
df=pd.get_dummies(df,drop_first=True)

In [53]:
df

     BodyFat  Age  Neck  Chest  Abdomen  ...  Knee  Ankle  Biceps  Forearm  Wrist
0       12.3   23  36.2   93.1     85.2  ...  37.3   21.9    32.0     27.4   17.1
1        6.1   22  38.5   93.6     83.0  ...  37.3   23.4    30.5     28.9   18.2
2       25.3   22  34.0   95.8     87.9  ...  38.9   24.0    28.8     25.2   16.6
3       10.4   26  37.4  101.8     86.4  ...  37.3   22.8    32.4     29.4   18.2
4       28.7   24  34.4   97.3    100.0  ...  42.2   24.0    32.2     27.7   17.7
..       ...  ...   ...    ...      ...  ...   ...    ...     ...      ...    ...
247     11.0   70  34.9   89.2     83.6  ...  34.8   21.5    25.6     25.7   18.5
248     33.6   72  40.9  108.5    105.0  ...  40.8   23.2    35.2     28.6   20.1
249     29.3   72  38.9  111.1    111.5  ...  37.3   21.5    31.3     27.2   18.0
250     26.0   72  38.9  108.3    101.3  ...  41.6   22.7    30.5     29.4   19.8
251     31.9   74  40.8  112.4    108.5  ...  42.2   24.6    33.7     30.0   20.6

[252 rows x 12 columns]

In [54]:
from sklearn.tree import DecisionTreeRegressor

In [55]:
model_dec=DecisionTreeRegressor().fit(X_train,y_train)

In [56]:
pred_dec=model_dec.predict(X_test)

In [57]:
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
import numpy

In [58]:
print(np.sqrt(mean_squared_error(y_test,pred_dec)))
print(r2_score(y_test,pred_dec))

6.210585523847136
0.4415965360821621

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
from sklearn.svm import SVR

In [61]:
from sklearn.neighbors import KNeighborsRegressor

In [62]:
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,GradientBoostingRegressor

In [63]:
model_ln=LinearRegression().fit(X_train,y_train)

In [64]:
model_svm=SVR().fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [65]:
model_knn=KNeighborsRegressor().fit(X_train,y_train)

In [66]:
model_rf=RandomForestRegressor().fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [67]:
model_ad=AdaBoostRegressor().fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [68]:
model_gb=GradientBoostingRegressor().fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [69]:
pred_ln=model_ln.predict(X_test)

In [70]:
pred_rf=model_rf.predict(X_test)

In [71]:
pred_ad=model_ad.predict(X_test)

In [72]:
pred_gb=model_gb.predict(X_test)

In [73]:
pred_svm=model_svm.predict(X_test)

In [74]:
pred_knn=model_knn.predict(X_test)

**checking for accuarcy of the model**

In [75]:
# Linear regression
print(np.sqrt(mean_squared_error(y_test,pred_ln)))
r2_score(y_test,pred_ln)

4.273923003247361

0.7355543679195768

In [76]:
# Random forest
print(np.sqrt(mean_squared_error(y_test,pred_rf)))
r2_score(y_test,pred_rf)

4.737838986268309

0.6750297497109302

In [77]:
# KNN
print(np.sqrt(mean_squared_error(y_test,pred_knn)))
r2_score(y_test,pred_knn)

4.755433128558963

0.6726116898947614

In [78]:
# SVM
print(np.sqrt(mean_squared_error(y_test,pred_svm)))
r2_score(y_test,pred_svm)

6.073998978524068

0.4658878721771883

In [79]:
# Ada boosting
print(np.sqrt(mean_squared_error(y_test,pred_ad)))
r2_score(y_test,pred_ad)

4.721722664949965

0.6772368391863808

In [80]:
# Gradient boosting
print(np.sqrt(mean_squared_error(y_test,pred_gb)))
r2_score(y_test,pred_gb)

4.785141712191264

0.668508331032744

**hence Linear regression model  is having high accuracy almost close to 0.73**